@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --orange-100: 13 100% 96%;
        --orange-400: 12 88% 59%;

        --gray-100: 0 0% 98%;
        --gray-200: 227 12% 61%;
        --gray-700: 228 39% 23%;
        --gray-800: 233 12% 13%;
    }
}
